@import "src/assets/variables";

* {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: $font-family;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-width: $page-width;
  margin: 0;
  padding: 0;
}

#app {
  margin: 0;
  min-height: 100vh;
  height: 1px;
}
