$page-width: 1200px;
$font-family: "Microsoft YaHei", helvetica, arial, sans-serif;
$body-background-color: white;

$primary-color: #47a1ad;
$small-font: 14px;
$medium-font: 20px;
$large-font: 32px;
$header-height: 60px;

$purple-51: #510674;
$purple-dd: #ddb3f8;
$medium-purple: #9987ba;
$double-light-purple: #d1b8d6;
$blue-purple: #6160a8;
$light-blue-purple: #8187c2;
$pink: #deb5d7;
$cornflower-blue: #7b68ee;
$eggplant: #800080;
$item-gray: #f4f6f7;
$light-black: #595959;
